# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables (ВАЖНО! Не публикуйте .env файлы!)
.env
*.env

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.log

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
go.sum